{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><strong></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <section>
        <div class="container-fluid">
          <div class="row">
                <div class="col-12 custom-margin text-center">
                    <h2 class="main-header">Condado 539</h2>
                    <h6 class="sub-header">Relax Unwind Enjoy</h6>
                    <hr class="w-25">
                </div>
          </div>
            <div class="row">
                <div class="col-12 custom-margin text-center">
                    <h2 class="contact-header">Booking & Contact</h2>
                </div>
                <div class="col-12 custom-margin text-center">
                      <h2 class="step-1-header">Step One</h2>
                      <hr class="w-25">
                      <p class="contact-info">Check out the availability of the Condado 539 below</p>
                </div>
            </div>
        </div>
      </section>
      <section>
        <section>
          <div style="background:#fff;width:212px; margin-left:75px;"><iframe src="https://www.availcalendar.com/print/23348?mode=5" width="212" height="251" frameborder="0" scrolling="no"></iframe>
          </div>
      </section>

      <section>
        <div class="row">
          <div class="col-12 custom-margin text-center">
                <h2 class="step-1-header">Step Two</h2>
                <hr class="w-25">
                <p class="contact-info1">Fill in the form and let us know when you'd like to stay</p>
          </div>
      </div>
      <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mx-auto">Submit</button>
        </form>
    </div>

      </section>
      </body>
                

{% endblock %}

{% block postloadjs %}


{% endblock %}

