{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="body-home">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><strong></strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-12 custom-margin text-center">
              <h2 class="main-header">Condado 539</h2>
              <h6 class="sub-header">Relax Unwind Enjoy</h4>
                <hr class="w-25 header-divider">
          </div>
      </div>
        <div class="row">
            <div class="col-12 text-white text-center">
                <img class="hero-image" src="{{ MEDIA_URL }}/heroimage6.jpg" alt="Hero Image">
            </div>
        </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
          <div class="col-12 description-section">
            <div class="col-8">
            <h3 class="description-header">Your private getaway in southern Spain.</h3>
            </div>
            <div class="col-12 description-message">
              <p>Condado de Alhama is a picturesque resort located in the heart of Murcia, Spain, surrounded by stunning natural landscapes. This vibrant community offers a range of modern amenities, including a golf course, swimming pools, and various dining options. Visitors can enjoy a variety of recreational activities, from hiking and cycling in the nearby mountains to exploring the local markets. The resort's welcoming atmosphere makes it an ideal destination for families and individuals seeking a relaxing getaway.</p>
            </div>
          </div>
      </div>
  </div>
  </section>
  <section class="blank">
  </section>
  <section>
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-white text-center">
              <img class="hero-image1" src="{{ MEDIA_URL }}/heroimage5.jpg"
          </div>
      </div>
    </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 description-section-features">
              <div class="col-8">
              <h3 class="description-header">Apartment Features:</h3>
              </div>
              <div class="col-12 description-message">
                <ul>
                  <li>Sleeps six</li>
                  <li>Two double and one single bedrooms</li>
                  <li>Fully furnisted and equiped</li>
                  <li>Air conditioning throughout</li>
                  <li>Towels and bedding provided</li>
                  <li>Two outdoor terraces with awning</li>
                  <li>Washing machine</li>
                  <li>Less than 50m from pool</li>
                  <li>Spanish tourist board certified accommodation</li>
                </ul>
              </div>
            </div>
        </div>
    </div>
    </section>
    <section class="blank">
    </section>

    <section>
      <div class="container-fluid">
      <h2 class="map-header text-center">Location</h2>
      <hr class="w-25">
      <p class="location-message text-center">The apartment is located 43km (26 miles) from Murcia and 16 miles from the port town of Mazzaron, known for it's beaches and clear water. It is only a short drive to the historic town of Cartagena and the holiday resorts on the Mar Menor.</p>
      
        <div class="row">
          <div class="col-12 map-section">
            <div id="map"></div>
          </div>
        </div>
        <hr class="w-25 line-break">
        <p class="address text-center">N539, Naranjos 7, Condado De Alhama, Alhama De Murcia, 30849</p>
        </div>
    </section>
    <section>
      <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"<i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'gallery' %}">Gallery</a></li>
                <li class="list-inline-item"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <p class="copyright">Condado 539 © 2024</p>
        </footer>

    </section>



</body>
{% endblock %}

{% block postloadjs %}
<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "{{ google_api_key }}",
    v: "weekly",
  });
</script>
<script src="{% static '/js/maps.js' %}"></script>
{% endblock %}

