html {
    height: 100%;
}


body {
    background: url('/media/heroimage6.jpg');
    height: 100vh;
}

.navbar{
    background-color: transparent !important;
}

.navbar-brand, .nav-link {
    color: #fff !important;

}

.hero-message{
    margin-top: 50px;
    color:#fff;
    margin-bottom: 20px !important;
}

.message {
    font-weight: 500;
    font-size: 30px;
}

.book-now{
    margin-top: 25px;
}

