{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/gallery.css' %}">
{% endblock %}

{% block content %}
<body class="body-gallery">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><strong>Condado 539</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'details' %}">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <section>
    <h2 class="gallery-header text-center">Photo Gallery</h2>

    <div class="wrap">
    
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/front-terrace2.jpg" />
          <div class="titleBox">An old greenhouse</div>
        </div>
      </div>
      
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/front-terrace1.jpg"  />
          <div class="titleBox">Purple wildflowers</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/front-terrace3.jpg" />
          <div class="titleBox">A birdfeeder</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/lounge.jpg" />
          <div class="titleBox">Crocus close-up</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/lounge1.jpg" />
          <div class="titleBox">The garden shop</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/lounge2.jpg" />
          <div class="titleBox">Spring daffodils</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/lounge3.jpg" />
          <div class="titleBox">Iris along the path</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/bedroom.jpg" />
          <div class="titleBox">The garden blueprint</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/bedroom1.jpg" />
          <div class="titleBox">The patio</div>
        </div>
      </div>
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/box-room.jpg" />
          <div class="titleBox">Bumble bee collecting nectar</div>
        </div>
      </div>
      
      <div class="box">
        <div class="boxInner">
          <img src="{{ MEDIA_URL }}images/kitchen.jpg" />
          <div class="titleBox">Bumble bee collecting nectar</div>
        </div>
      </div>

      
      <div class="box">
        <div class="boxInner">
            <img src="{{ MEDIA_URL }}images/back-terrace.jpg" />
          <!--footer -->
          <div class="titleBox">Winding garden path</div>
        </div>
      </div>

      <div class="box">
        <div class="boxInner">
            <img src="{{ MEDIA_URL }}images/back-terrace1.jpg" />
          <div class="titleBox">Winding garden path</div>
        </div>
      </div>

      <div class="box">
        <div class="boxInner">
            <img src="{{ MEDIA_URL }}images/pool.jpg" />
          <!--footer -->
          <div class="titleBox">Winding garden path</div>
        </div>
      </div>

      <div class="box">
        <div class="boxInner">
            <img src="{{ MEDIA_URL }}images/park.jpg" />
          <!--footer -->
          <div class="titleBox">Winding garden path</div>
        </div>
      </div>
      
    </div>
  </section>
</body>
  {% endblock %}